
   p.n1{
    color: white;
}
 .n1 a i {
    color: white;
    padding: 10px;
}

.navbar1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imgbmw01{
  position: absolute;
    }
.imgbmw01 img
{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
  
}
.content{
    
    color: rgb(223, 237, 240);
    position: relative;
    height: auto;
    width: auto;
    margin-left: 150px;
    margin-top: 150px;
    } 
 
    .card-icon i{
        font-size: 50px;
        color: rgb(10, 158, 35);
        border: 1px solid rgb(10, 109, 76);
        border-radius: 90% 95% 60% 90%;
        background-color: rgba(137, 230, 129, 0.712);
        width: 100px;
        padding: 10px;
     
    }
    .des-i .card-icon i{
        width: 100px;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
.card01{
    
    margin-top: 170px;

}
.btn{
    border-radius: 50px;
}

.row{
    margin:0;
}
.card01 .card:hover{
       color: white;
       background-color: rgba(48, 47, 47, 0.74);
       border-color: rgb(238, 241, 25);
}
.man-img{
    height: 300px;
    width: 300px;
    margin-right: 55px;
    margin-top: 30px;
}
.aboutusi{
    font-size: 40px;
    color: greenyellow;
}
.award-icon {
    font-size: 40px;
    color: greenyellow;
    margin-top: 10px;
    
}
.des-img{
    height: 520px;
    width: 100%;
}
.row7{
    margin-top: 105px;
}
.col7{
    margin-left: 255px;
}
span.cards02{
    margin-left: 627px;
}


.imgs-cs img{
    border: 2px solid rgba(233, 187, 187, 0.89);
    border-radius: 10px;
}
.wcas img{
    height: 80px;
    width: 60px;
}
/*  */
.card2{
    height: 300px;
}
.card201{
    position: absolute;
}
.card202{
    position: relative;
}
.bgc-wcas{
    background-color: rgb(196, 186, 186);
}
.img-txt{
    position:relative;
}
.img-txt img {
    
    height: 600px;
    width: 100%;   
    opacity: 0.85; 
}
.content002{
    position: absolute;
    margin-top: 26vh;
}
.content002 h2{
     color: white;
}
.footer01{
    color: white;
}
.subscribe-box {
    border: none;
    border-radius: 20px;
}
.subscribe-box input {
    width: 100%;
}
.subscribe {
    border-radius: 0 20px 20px 0;
    padding: 5px 7px;
    border: none;
    outline: none;
}
.sub-input {
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    padding: 5px 0 5px 15px;
}
@media only screen and (max-width:768px) {
    .award{
      margin: 0 auto;
      width: 200px;
    }
    .card01 h5 {
        display: none;
    }
    .card01 p {
        display: none;
    }
    .card .card-body{
        
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card .card-icon i{
        font-size: 30px;
        padding: 8px;
        width: 100%;
        
    }
    .man-img{
        width: 100%;
    }
     .cards002 .card .card-body{
        display: none;
    }
    .award{
        text-align: center;
    }
}
@media only screen and (min-width:768px) {
   .award002{
       text-align: right;
   }
}
.footer01 .fab{
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    color: white;
}
.footer01 .fab:hover{
    background-color: blue;
}